<ion-header>
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="buttons">
    <ion-segment-button value="assets" routerLink="assets">
      <ion-label>Assets</ion-label>
    </ion-segment-button>
    <ion-segment-button value="advisories" routerLink="advisories">
      <ion-label>Advisories</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cases" routerLink="cases">
      <ion-label>Cases</ion-label>
    </ion-segment-button>
  </ion-segment>

  <router-outlet />
</ion-content>
