<ion-header>
  <ion-toolbar>
    <ion-title>Card {{id}} Name</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="summary">
        <ion-label>Summary</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="hardware">
        <ion-label>Hardware</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
