<ion-header>
  <ion-toolbar>
    <ion-title>Card {{ id }} Name</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="buttons">
    <ion-segment-button value="summary" routerLink="summary">
      <ion-label>Summary</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hardware" routerLink="hardware">
      <ion-label>Hardware</ion-label>
    </ion-segment-button>
  </ion-segment>

  <router-outlet />
</ion-content>
